@media screen and (min-width: 1200px) {
  .card {
    width: 65%;
    flex-direction: row;
    border-radius: 2.5rem;
    align-items: stretch;
    padding: 3.4rem;
    transition: all 0.3s ease;

    .input {
      width: 100%;
      border: 1px solid black; //temporary
      padding: 0 3.5rem 1.5rem 1.5rem;

      .btn-wrapper {
        .btn {
          width: 30.5%;
        }
        #inp-tip {
          width: 30.5%;
        }
      }
    }

    .output {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .output-wrapper {
        .description-container {
          .value {
            font-size: 20rem;
          }
        }
      }
    }
  }
}
