* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Space mono", monospace;
  background-color: hsl(185, 41%, 84%);
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  margin: 5rem 0 3rem 0;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 2.5rem;
  font-family: "Space Mono", monospace;
  margin: 1rem;
}
.card .input {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 1rem;
}
.card .input .label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .input .label-wrapper label {
  color: hsl(186, 14%, 43%);
  font-size: 1.7rem;
  font-weight: 700;
}
.card .input .label-wrapper .error-msg {
  color: indianred;
  font-weight: 700;
  font-size: 1.5rem;
}
.card .input .inp-text {
  background-color: #f3f8fb;
  border: none;
  width: 100%;
  border-radius: 0.5rem;
  color: hsl(183, 100%, 15%);
  font-family: "Space Mono", monospace;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: right;
  padding: 0.4rem 1rem;
}
.card .input .inp-text:focus {
  outline: none;
  border: 2px solid hsl(183, 100%, 15%);
}
.card .input .inp-wrapper {
  position: relative;
}
.card .input img {
  position: absolute;
  left: 2rem;
  top: 1.5rem;
}
.card .input .btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0.5rem 0rem;
}
.card .input .btn-wrapper .btn {
  border: 1px solid transparent;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  border-radius: 0.4rem;
  font-size: 2rem;
  width: 46%;
  padding: 0.6rem;
  text-align: center;
}
.card .input .btn-wrapper .btn:hover {
  background-color: #26c2ad;
  color: hsl(183, 100%, 15%);
}
.card .input .btn-wrapper .btn-active {
  background-color: #26c2ad;
  color: hsl(183, 100%, 15%);
}
.card .input .btn-wrapper #inp-tip {
  background-color: #f3f8fb;
  text-align: center;
  width: 46%;
  font-size: 2rem;
}
.card .output {
  background-color: hsl(183, 100%, 15%);
  border-radius: 1rem;
  width: 100%;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.card .output .output-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.4rem 0 2.4rem;
}
.card .output .output-wrapper .first {
  color: hsl(0, 0%, 100%);
  font-size: 1.6rem;
  font-weight: 700;
}
.card .output .output-wrapper .second {
  color: hsl(184, 14%, 56%);
  font-size: 1.3rem;
  font-weight: 700;
}
.card .output .output-wrapper .value {
  color: #22bda8;
  font-size: 3rem;
  font-weight: 700;
}
.card .output .reset {
  width: 100%;
  background-color: #26c2ad;
  color: hsl(183, 100%, 15%);
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  border-radius: 0.5rem;
}
.card .output .reset:active {
  transform: scale(0.95);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@media screen and (min-width: 1200px) {
  .card {
    width: 48%;
    flex-direction: row;
    border-radius: 2.5rem;
    align-items: stretch;
    padding: 3.4rem;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .card .input {
    width: 100%;
    padding: 0 3.5rem 1.5rem 1.5rem;
  }
  .card .input .btn-wrapper .btn {
    width: 30.5%;
  }
  .card .input .btn-wrapper #inp-tip {
    width: 30.5%;
  }
  .card .output {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */