* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//variables
$StrongCyan: hsl(183, 100%, 15%);
$VeryDarkCyan: hsl(183, 100%, 15%);
$DarkGrayish: hsl(186, 14%, 43%);
$GrayishCyan: hsl(184, 14%, 56%);
$LightGrayish: hsl(185, 41%, 84%);
$VeryLightGrayishCyan: #f3f8fb;
$White: hsl(0, 0%, 100%);
$inputFormSize: 24px;

@import "general";
@import "media_1440";
